body {
    background-color: #622569;
}

html {
    background-color: rgba(98, 37, 105, 1);;
}

.َAction {
    background-color: #b8a9c9;
    height: 50%;
    margin-top: 6%;
    border: 6px solid #9c97b4;
    padding: 3%;
    margin-bottom: 6%;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
    margin-left: 10%;
}

a:hover {
    color: #5b9aa0;
}

.observation {
    background-color: #5b9aa0;
}

.observation:hover {
    background-color: #548d92;
}

.message {
    float: right;
    text-align: justify;
}

.close-btn:hover {
    color: #e60000;
}

.close-btn {
    width: 5%;
    margin-right: 1%;
}

h4 {
    margin-right: 5%;
}

.jum-style {
    background-color: #d3d3d3;
}

.submit-btn {
    background-color: #5b9aa0;
    border: none;
    padding: 12px 20px;
}

.submit-btn:hover {
    background-color: #548d92;
}